
$spacer:                     1rem;
$spacer-x:                   $spacer;
$spacer-y:                   $spacer;

$spacers: (
  0: (
    x:   0,
    y:   0
  ),
  h: (
    x:   ($spacer-x * 0.5),
    y:   ($spacer-y * 0.5)
  ),
  1: (
    x:   $spacer-x,
    y:   $spacer-y
  ),
  2: (
    x:   ($spacer-x * 1.5),
    y:   ($spacer-y * 1.5)
  ),
  3: (
    x:   ($spacer-x * 3),
    y:   ($spacer-y * 3)
  ),
  4: (
    x:   ($spacer-x * 4),
    y:   ($spacer-y * 4)
  ),
  5: (
    x:   ($spacer-x * 6),
    y:   ($spacer-y * 6)
  ),
  6: (
    x:   ($spacer-x * 8),
    y:   ($spacer-y * 8)
  ),
  7: (
    x:   ($spacer-x * 10),
    y:   ($spacer-y * 10)
  ),
  8: (
    x:   ($spacer-x * 12),
    y:   ($spacer-y * 12)
  )
);


$spacer-breakpoint: (
  sm: (
    min:   0,
    max:   767
  ),
  md: (
    min:   768,
    max:   1024
  ),
  lg: (
    min:   1025,
    max:   9024
  ),
);
// $screen-sml-min: // 768px;
// $screen-md-min:  // 1024
@mixin for-mobile {
  @media (max-width: 767px) { @content; }
}
@mixin for-tablet-up {
  @media (min-width: 768px) { @content; }
}
@mixin for-tablet {
  @media (max-width: 1024px) and (min-width: 768px) { @content; }
}
@mixin for-laptop-up {
  @media (min-width: 1025px) { @content; }
}
@mixin spacing() {
  @each $prop, $abbrev in (margin: m, padding: p) {

		// @each $size, $lengths in $spacers {

			@each $size, $lengths in $spacers {
      $screen: (min-width: $screen-sml-min);

      $length-x:   map-get($lengths, x);
      $length-y:   map-get($lengths, y);

      @include for-tablet-up{
        .#{$abbrev}-#{$size} {
          #{$prop}: $length-y $length-x
        } // a = All sides
        .#{$abbrev}t-#{$size} {
          #{$prop}-top:    $length-y !important;
        }
        .#{$abbrev}r-#{$size} {
          #{$prop}-right:  $length-x !important;
        }
        .#{$abbrev}b-#{$size} {
          #{$prop}-bottom: $length-y !important;
        }
        .#{$abbrev}l-#{$size} {
          #{$prop}-left:   $length-x !important;
        }
        .#{$abbrev}x-#{$size} {
          #{$prop}-left:   $length-x !important;
          #{$prop}-right:   $length-x !important;
        }
        .#{$abbrev}y-#{$size} {
          #{$prop}-top:   $length-x !important;
          #{$prop}-bottom:   $length-x !important;
        }
      }
			@include for-tablet{
				#content {

					.#{$abbrev}-md-#{$size} {
						#{$prop}: $length-y $length-x
					} // a = All sides
					.#{$abbrev}t-md-#{$size} {
						#{$prop}-top:    $length-y !important;
					}
					.#{$abbrev}r-md-#{$size} {
						#{$prop}-right:  $length-x !important;
					}
					.#{$abbrev}b-md-#{$size} {
						#{$prop}-bottom: $length-y !important;
					}
					.#{$abbrev}l-md-#{$size} {
						#{$prop}-left:   $length-x !important;
					}
					.#{$abbrev}x-md-#{$size} {
						#{$prop}-left:   $length-x !important;
						#{$prop}-right:   $length-x !important;
					}
					.#{$abbrev}y-md-#{$size} {
						#{$prop}-top:   $length-x !important;
						#{$prop}-bottom:   $length-x !important;
					}
				}
      }
    }
  }
}
@include spacing;

  // Box Shadow
  @mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
     -moz-box-shadow: $shadow;
      box-shadow: $shadow;
  }

  // Scale
  @mixin scale($ratio...) {
  -webkit-transform: scale($ratio);
    -ms-transform: scale($ratio); // IE9 only
     -o-transform: scale($ratio);
      transform: scale($ratio);
  }

  // Transition
  @mixin transition($transition) {
  -webkit-transition: $transition;
     -o-transition: $transition;
      transition: $transition;
  }
