
$spacer:                     1rem;
$spacer-x:                   $spacer;
$spacer-y:                   $spacer;

$spacers: (
  0: (
    x:   0,
    y:   0
  ),
  h: (
    x:   ($spacer-x * 0.5),
    y:   ($spacer-y * 0.5)
  ),
  1: (
    x:   $spacer-x,
    y:   $spacer-y
  ),
  2: (
    x:   ($spacer-x * 1.5),
    y:   ($spacer-y * 1.5)
  ),
  3: (
    x:   ($spacer-x * 3),
    y:   ($spacer-y * 3)
  ),
  4: (
    x:   ($spacer-x * 4),
    y:   ($spacer-y * 4)
  ),
  5: (
    x:   ($spacer-x * 6),
    y:   ($spacer-y * 6)
  ),
  6: (
    x:   ($spacer-x * 8),
    y:   ($spacer-y * 8)
  ),
  7: (
    x:   ($spacer-x * 10),
    y:   ($spacer-y * 10)
  ),
  8: (
    x:   ($spacer-x * 12),
    y:   ($spacer-y * 12)
  )
);

// $screen-mobi-max, $screen-tablet-min, $screen-tablet-max, $screen-laptop-min


// $screen-sml-min: // 768px;
// $screen-md-min:  // 1024
@mixin for-mobile {
  @media (max-width: 767px) { @content; }
}
@mixin for-tablet-up {
  @media (min-width: 768px) { @content; }
}
@mixin for-tablet {
  @media (max-width: 1024px) and (min-width: 768px) { @content; }
}
@mixin for-laptop-up {
  @media (min-width: 1025px) { @content; }
}


$spacer-breakpoints: (
	// null(),
	'':( min: none, max: none),
  sm: (
    min:   0,
    max:   $screen-mobi-max
  ),
  md: (
    min:    $screen-tablet-min,
    max:    $screen-tablet-max
  ),
  lg: (
    min:   $screen-laptop-min,
		max:   none
		// ,max:   9024
		// ,max:   infiniti
  ),

);
@mixin spacing() {
  @each $prop, $abbrev in (margin: m, padding: p) {

		// @each $size, $lengths in $spacers {


			// ????

			// @each $color-key, $color-value in $colors {
			// 	@each $tone-key, $tone-value in $color-value {

			@each $screenset-key, $breakpoint-vals in $spacer-breakpoints {
				$min:   map-get($breakpoint-vals, min);
				$max:   map-get($breakpoint-vals, max);
				$_: if($min == none, '', '-');

				@media (min-width: $min) and (max-width: $max)  {
					@if($min!=none){ $dash: "-"; }
					@each $size, $lengths in $spacers {
							$length-x:   map-get($lengths, x);
							$length-y:   map-get($lengths, y);
							#content {
								// $direction == left
								// .#{$abbrev}@if($min!==none){}#{$screenset-key}-#{$size} {
								.#{$abbrev}#{$_}#{$screenset-key}-#{$size} {

								// .#{$abbrev}-#{$screenset-key}-#{$size} {
									#{$prop}: $length-y $length-x
								} // a = All sides
								.#{$abbrev}t#{$_}#{$screenset-key}-#{$size} {
									#{$prop}-top:    $length-y !important;
								}
								.#{$abbrev}r#{$_}#{$screenset-key}-#{$size} {
									#{$prop}-right:  $length-x !important;
								}
								.#{$abbrev}b#{$_}#{$screenset-key}-#{$size} {
									#{$prop}-bottom: $length-y !important;
								}
								.#{$abbrev}l#{$_}#{$screenset-key}-#{$size} {
									#{$prop}-left:   $length-x !important;
								}
								.#{$abbrev}x#{$_}#{$screenset-key}-#{$size} {
									#{$prop}-left:   $length-x !important;
									#{$prop}-right:   $length-x !important;
								}
								.#{$abbrev}y#{$_}#{$screenset-key}-#{$size} {
									#{$prop}-top:   $length-x !important;
									#{$prop}-bottom:   $length-x !important;
								}
							}
					}

				// }


			}


			// @each $size, $lengths in $spacers {
      // // $screen: (min-width: $screen-sml-min);

      // $length-x:   map-get($lengths, x);
      // $length-y:   map-get($lengths, y);
			// #content {

			// 	.#{$abbrev}-md-#{$size} {
			// 		#{$prop}: $length-y $length-x
			// 	} // a = All sides
			// 	.#{$abbrev}t-md-#{$size} {
			// 		#{$prop}-top:    $length-y !important;
			// 	}
			// 	.#{$abbrev}r-md-#{$size} {
			// 		#{$prop}-right:  $length-x !important;
			// 	}
			// 	.#{$abbrev}b-md-#{$size} {
			// 		#{$prop}-bottom: $length-y !important;
			// 	}
			// 	.#{$abbrev}l-md-#{$size} {
			// 		#{$prop}-left:   $length-x !important;
			// 	}
			// 	.#{$abbrev}x-md-#{$size} {
			// 		#{$prop}-left:   $length-x !important;
			// 		#{$prop}-right:   $length-x !important;
			// 	}
			// 	.#{$abbrev}y-md-#{$size} {
			// 		#{$prop}-top:   $length-x !important;
			// 		#{$prop}-bottom:   $length-x !important;
			// 	}
			// }

      // @include for-tablet-up{
      //   .#{$abbrev}-#{$size} {
      //     #{$prop}: $length-y $length-x
      //   } // a = All sides
      //   .#{$abbrev}t-#{$size} {
      //     #{$prop}-top:    $length-y !important;
      //   }
      //   .#{$abbrev}r-#{$size} {
      //     #{$prop}-right:  $length-x !important;
      //   }
      //   .#{$abbrev}b-#{$size} {
      //     #{$prop}-bottom: $length-y !important;
      //   }
      //   .#{$abbrev}l-#{$size} {
      //     #{$prop}-left:   $length-x !important;
      //   }
      //   .#{$abbrev}x-#{$size} {
      //     #{$prop}-left:   $length-x !important;
      //     #{$prop}-right:   $length-x !important;
      //   }
      //   .#{$abbrev}y-#{$size} {
      //     #{$prop}-top:   $length-x !important;
      //     #{$prop}-bottom:   $length-x !important;
      //   }
      // }
			@include for-tablet{
				// #content {

				// 	.#{$abbrev}-md-#{$size} {
				// 		#{$prop}: $length-y $length-x
				// 	} // a = All sides
				// 	.#{$abbrev}t-md-#{$size} {
				// 		#{$prop}-top:    $length-y !important;
				// 	}
				// 	.#{$abbrev}r-md-#{$size} {
				// 		#{$prop}-right:  $length-x !important;
				// 	}
				// 	.#{$abbrev}b-md-#{$size} {
				// 		#{$prop}-bottom: $length-y !important;
				// 	}
				// 	.#{$abbrev}l-md-#{$size} {
				// 		#{$prop}-left:   $length-x !important;
				// 	}
				// 	.#{$abbrev}x-md-#{$size} {
				// 		#{$prop}-left:   $length-x !important;
				// 		#{$prop}-right:   $length-x !important;
				// 	}
				// 	.#{$abbrev}y-md-#{$size} {
				// 		#{$prop}-top:   $length-x !important;
				// 		#{$prop}-bottom:   $length-x !important;
				// 	}
				// }
      }
    }
  }
}
@include spacing;

  // Box Shadow
  @mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
     -moz-box-shadow: $shadow;
      box-shadow: $shadow;
  }

  // Scale
  @mixin scale($ratio...) {
  -webkit-transform: scale($ratio);
    -ms-transform: scale($ratio); // IE9 only
     -o-transform: scale($ratio);
      transform: scale($ratio);
  }

  // Transition
  @mixin transition($transition) {
  -webkit-transition: $transition;
     -o-transition: $transition;
      transition: $transition;
  }
